@model Biblioteca.Models.Entidades.Livro

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir Livro</h2>

<h3>Deseja excluir o livro?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LivroNome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LivroNome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LivroAutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LivroAutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LivroDataPublicacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LivroDataPublicacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LivroId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-success">Voltar</a>
    </form>
</div>
