@model Domain.Livros

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do livro</h1>

<div>
    <h4>Livros</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLivro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeLivro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAquisicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAquisicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeExemplares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeExemplares)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
