@model IEnumerable<Domain.Livros>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Lista de livros";
}

<h1>Lista de livros</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Adicionar novo livro</a>
    </p>
}
@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeLivro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataAquisicao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantidadeExemplares)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(p => p.NomeLivro))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeLivro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAquisicao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantidadeExemplares)
                    </td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Sem informações</h3>
}

