@model LivrariaProjeto.Models.Livro


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Livro</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Livro")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayName("Autor")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Autor)
            </dd>
            <dt>
                @Html.DisplayName("Preço")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Preco)
            </dd>
            <dt>
                @Html.DisplayName("Data de Lançamento")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Lancamento)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Voltar</a>
    </div>
</body>
</html>
